#footer {
  background-color: #222;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .github-link {
    display: flex;
    color: white;

    &:visited {
      color: white;
    }
    
    &:hover, &:active {
      filter:brightness(0.9)
    }
    
    .github-logo {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}
